<launch>
  <include file="$(find iai_boxy_bringup)/launch/boxy_sim.launch"/>

  <node pkg="iai_gazebo_visibility_mover" type="iai_gazebo_visibility_mover"
        name="iai_gazebo_visibility_mover" output="screen">
    <remap from="~joint_states" to="/joint_states"/>
    <param name="robot_description" textfile="$(find iai_gazebo_visibility_mover)/urdf/boxy_description.urdf" />
  </node>

  <node pkg="iai_gazebo_visibility_mover" type="iai_pixel_counter" 
        name="iai_pixel_counter" output="screen">
    <remap from="~image" to="/boxy/test_camera/camera1/kinect2_rgb_image"/>
  </node>
 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="false"/>
    <arg name="paused" value="true"/>
  </include>
</launch>
