<launch>
  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch">
    <arg name="param-name" value="iai_gazebo_visibility_mover/robot_description"/>
  </include>
 
  <node pkg="iai_gazebo_visibility_mover" type="iai_gazebo_visibility_mover"
        name="iai_gazebo_visibility_mover" output="screen"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="false"/>
    <arg name="paused" value="true"/>
  </include>
</launch>
